#chat-area {
	background-color:#bbbbbb;
	height: 400px;
	width: 500px;
}

#chat-input {
	width: 80%;
}

#conversation {
	width:100%;
	height: 300px;
}

.success {
	color: green;
}

.warning {
	color: red;	
}