html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

body {
	background-color: #dddddd;
	font-family: 'Gloria Hallelujah', cursive;
	height: 100%;
	line-height: 1;
}

h1 {
	font-size: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}
p {
	padding-bottom: 5px;
	padding-top: 5px;	
}

#chat-area {
	height: 85%;
	width: 100%;
}

#chat-input {
	background: url('../images/ricepaper_v3.png');
	border: none;
	float: left;
	height: 100%;
	padding:0px;
	width:75%;
}

#chat-log {
	background: url('../images/linedpaper.png');
	height: 100%;
	float:left;
	overflow-y: scroll;
	width:75%;
}

#conversation {
	height: 100%;
}

#commands {
	font-size: 12px;
}

#input-bar {
  bottom:0;
  height:5%;	
  position:absolute;
  width:100%;
}

#right-image-holder {
	background: url('../images/tree_bark.png');
	float: left;
	height: 100%;
	overflow: hidden;
	width: 25%;
}

#send-input {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family: 'Gloria Hallelujah', cursive;	
	font-size:15px;
	height:100%;
	line-height:40px;
	width:25%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
#send-input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}#send-input:active {
	position:relative;
	top:1px;
}

#shin-image {
	width:100%;
}

#title-bar {
	background: url('../images/ricepaper_v3.png');
	height: 10%;
	text-align: center;
	width: 100%;
}

.chat-line {
	padding-left: 2.5%;
}

.last-line {
	background-color: rgba(255,237,137, .3);
}

.success {
	color: green;
}

.warning {
	color: red;	
}